
   
   /*CSS segue ordem de elemento Pai para Filho*/
main{
    width: 90%; /*não se tem noção da largura, o computador que calcula*/
    height: auto; /*se não colocar nada o computador interpreta automaticamente como auto*/
    background-color: rgb(172, 172, 172);
    padding: 20px; /*padding e margin tem sua porcentagem por isso acrescentam na altura*/
    margin: 20px auto; /*joga no meio, vale para texto*/
    border-radius: 20px;
    box-shadow: #363636 10px 10px; /*cria uma sombra embaixo*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h2{
    color:rgb(3, 10, 112);
    text-align: center;

}

#banner{
    width: 100%; /*concatena com o padding, elemento pai.*/
    height: 700px;
    margin: 10px 0px;
    background-image: url(../images/smHeader2.jpg);
/*../ SEMPRE VOLTA UMA PASTA, INDEPENDENTE DE ONDE ELA ESTEJA*/
    background-size:cover; /*como se tivesse o zoom ativado*/
    background-position:top; /*escolhe a referencia de foco da imagem*/
}

h3{
    color:blue;
    margin:20px;  
}
